In [13]:
d={}
x="Good MorninG"
for i in x:
    d[i]=x.count(i)
d

{'G': 2, 'o': 3, 'd': 1, ' ': 1, 'M': 1, 'r': 1, 'n': 2, 'i': 1}

In [16]:
d={}
x="Good MorninG Good night"
a=x.split(" ")
for i in a:
    d[i]=a.count(i)
d

{'Good': 2, 'MorninG': 1, 'night': 1}

In [47]:
d={"x":[10,21,25,22],"y":[25,15,17,18],"z":[10,15,20,25],"a":[15,5,7,20]}
l=["T1","T2","T3","T4"]
for i,j in d.items():
    avg=sum(j)/4
    print(avg) 
    m=j.index(max(j))
    z1=l[m]
    n=j.index(min(j))
    z2=l[n]
    print(f"{i} max marks in {z1} and min mark in {z2}")

19.5
x max marks in T3 and min mark in T1
18.75
y max marks in T1 and min mark in T2
17.5
z max marks in T4 and min mark in T1
11.75
a max marks in T4 and min mark in T2

In [ ]:
n=input("Input number: ")
d={"1":"one","2":"two","3":"three","4":"four","5":"five","6":"six","7":"seven","8":"eight","9":"nine"
  "10":"ten","11":"eleven","12":"tewlve","13":"therteen":,"14":"fourteen","fifteen","""sixteen","17":"seventeen","18":"eighteen",
   "nighteen":19,"twanty":20,"thirty":30,"fourty":40,"fifty":50,"sixty":60,"seventy":70,"eighty":80,"ninty":90,"hunred":100}
for i in range(1000):
    n=n

In [2]:
x=[4,4,4,4,1,1,1,1,1,2,2,3,5,5,5,5,6]
d={}
for i in x:
    d[i]=d.get(i,[]) 
    d[i].append(i)
z=sorted(d.items(),key=lambda  x:len(x[1]),reverse=True) 
print(z)

[(1, [1, 1, 1, 1, 1]), (4, [4, 4, 4, 4]), (5, [5, 5, 5, 5]), (2, [2, 2]), (3, [3]), (6, [6])]